/* CATALOGS SWIPER */
.swiper-container-catalogs {
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative !important;
    overflow: hidden !important;
    /*max-width: 600px;*/
  }
  
  .swiper-container-catalogs .swiper-wrapper {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-transition-property: -webkit-transform !important;
    transition-property: -webkit-transform !important;
    transition-property: transform !important;
    transition-property: transform, -webkit-transform !important;
    box-sizing: content-box !important;
  }
  
  .swiper-container-catalogs .swiper-slide {
    -webkit-flex-shrink: 0 !important;
    -ms-flex: 0 0 auto !important;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    background-position: center !important;
    background-size: cover !important;
    width: 343px !important;
    height: 440px !important;
    position: relative !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25) !important;
  }
  
  .swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.4)
    ) !important;
  }
  
  .swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.4)
    ) !important;
  }
  
  .swiper-container-catalogs .swiper-pagination-bullet {
    background: #fff !important;
    border: 0px solid #fff !important;
    border-radius: 50% !important;
    display: inline-block !important;
    height: 16px !important;
    width: 16px !important;
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    -webkit-transition: 0.2s !important;
    transition: 0.2s !important;
  }
  
  .swiper-container-catalogs .swiper-pagination-bullet-active {
    background: #f70 !important;
    border: none !important;
    height: 16px !important;
    width: 34px !important;
    border-radius: 20px !important;
    opacity: 1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  }
  
  .swiper-paginationCatalogs {
    text-align: center !important;
    padding-top: 50px !important;
  }
  
  .swiper-container-catalogs .swiper-button-next {
    position: absolute !important;
    right: 150px !important;
    /*top: 22px;
    height: 100%;*/
  }
  
  .swiper-container-catalogs .swiper-button-next::after {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='16.3612' cy='16.4141' rx='16.2043' ry='16.2087' transform='rotate(-180 16.3612 16.4141)' fill='%23EEEEEE'/%3E%3Cpath d='M13.6099 24.4633L21.5327 16.5382L13.5754 8.57871' stroke='%23353435' stroke-width='4.72' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
    content: "" !important;
    width: 26px !important;
    height: 26px !important;
    background-size: contain !important;
  }
  
  .swiper-container-catalogs .swiper-button-next:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='16.3612' cy='16.4141' rx='16.2043' ry='16.2087' transform='rotate(-180 16.3612 16.4141)' fill='%23FF851B'/%3E%3Cpath d='M13.6099 24.4633L21.5327 16.5382L13.5754 8.57871' stroke='%23353435' stroke-width='4.72' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  }
  
  .swiper-container-catalogs .swiper-button-prev {
    position: absolute !important;
    left: 150px !important;
    /*top: 22px;
    height: 100%;*/
  }
  
  .swiper-container-catalogs .swiper-button-prev::after {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='16.2042' cy='16.414' rx='16.2042' ry='16.2087' fill='%23EEEEEE'/%3E%3Cpath d='M18.9556 8.36487L11.0327 16.2899L18.99 24.2494' stroke='%23353435' stroke-width='4.72' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
    content: "" !important;
    width: 26px !important;
    height: 26px !important;
    background-size: contain !important;
  }
  
  .swiper-container-catalogs .swiper-button-prev:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='16.2042' cy='16.414' rx='16.2042' ry='16.2087' fill='%23FF851B'/%3E%3Cpath d='M18.9556 8.36487L11.0327 16.2899L18.99 24.2494' stroke='%23353435' stroke-width='4.72' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  }
  
  @media (min-width: 768px) and (max-width: 1023.98px) {
    .swiper-container-catalogs .swiper-slide {
        width: 257px !important;
        height: 330px !important;
    }
    .swiper-container-catalogs .swiper-button-next {
        right: 200px !important;
    }
    .swiper-container-catalogs .swiper-button-prev {
        left: 200px !important;
    }
  }
  
  @media (max-width: 767.98px) {
    .swiper-container-catalogs .swiper-slide {
        width: 230px !important;
        height: 294px !important;
    }
    .swiper-container-catalogs .swiper-button-next {
        right: 20px !important;
    }
    .swiper-container-catalogs .swiper-button-prev {
        left: 20px !important;
    }
  }
  